* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin-top: max(12rem);
}